* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

html {
    font-size: 10px;
}

h2 {
    color: white;
}

body {
    height: 100vh;
    background: rgb(55, 9, 58);
    background: linear-gradient(180deg, rgba(55, 9, 58, 1) 30%, rgba(132, 38, 101, 1) 82%, rgba(211, 114, 168, 1) 100%);
}

img {
    margin: 10px;
}

.ss3 {
    font-size: 20px;
    border-radius: 5px;
}

.slick-arrow {
    background-color: rgba(0, 0, 0, 0.50) !important;
    width: 50px !important;
    height: 50px !important;
    border: 20px rgba(74, 8, 100, 0.5) solid;
    border-radius: 25px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2000;
}

.slider {
    width: 100%;
}

.sign-wrap-4 {
    text-align: center;
    padding: 60px 20px;
}

.sign-wrap-4 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #9900ff, 0 0 0.5em #d26fff, 0 0 0.1em #9b05a8;
}

.sign-wrap-4 .sign_word span {
    animation: neon-4 linear infinite 5s;
}

img {
    border-radius: 10px;
}

#sw1 {
    margin-left: -200px;
}

#sw2 {
    margin-left: 0px;
}

#sw3 {
    margin-left: 100px;
}

#author {
    margin: 0;
    padding: 0;
}

@keyframes neon-4 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}